body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

#map {
  height: 100svh !important;
  width: calc(100svw - 300px) !important;
  position: relative;
}

.find-address {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 13px 20px;
  font-size: 16px;
  position: absolute;
}

.find-address svg {
  display: block;
  fill: #000;
  stroke: #000;
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

.find-address input {
  font-size: 16px;
}

.find-address input::placeholder {
  font-weight: bold;
  opacity: 0.6;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  opacity: 1;
}

.dropdown div {
  padding: 5px;
  font-size: 11px;
}

.dropdown div:hover {
  background: #f9f9f9;
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
}
.select-wrapper {
  width: 360px;
}

.select-wrapper .header {
  margin-bottom: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 40px 40px 0;
}

.select-wrapper .header h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.1;
  margin: 0;
}

.select-wrapper .header svg {
  display: block;
  fill: #000;
  stroke: #000;
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.select-delivery-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  width: 220px;
  border-bottom: 2px solid #000;
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  text-align: left;
  cursor: pointer;
  position: relative;
  margin: 0 40px 20px;
}

.select-delivery-type svg {
  display: block;
  fill: #000;
  stroke: #000;
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.select-delivery-type svg:hover {
  opacity: 0.5;
}

.select-delivery-type .dropdown {
  position: absolute;
  z-index: 3;
  top: calc(100% + 10px);
  width: calc(100%);
  left: 0;
  max-height: 0;
  overflow-y: hidden;
  visibility: hidden;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition-duration: 0.3s;
  padding-right: 5px;
}

.select-delivery-type-opt {
  padding: 10px 30px !important;
}

.select-delivery-type:focus > .dropdown {
  max-height: 200px;
  visibility: visible;
}

.pickup-item_list {
  padding-top: 20px;
  cursor: pointer;
}

.pickup-item_list .pickup-item__inner {
  padding-bottom: 19px;
}

.pickup-item__address {
  margin-bottom: 19px;
}

.pickup-item__distance,
.pickup-item__text,
.pickup-item__title,
.pickup-item__section-title {
  line-height: 1.6;
}

.pickup-item {
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  cursor: pointer;
  padding: 20px 40px;
}

.pickup-item__title {
  font-weight: 600;
  text-transform: uppercase;
}

.pickup-item__section-title {
  line-height: 1.6;
  text-transform: none;
}

.pickup-item__section {
  margin-bottom: 10px;
}

.pickup-item.active {
  background: #f9f9f9;
}

.gmnoprint {
  display: none;
}

.gm-fullscreen-control {
  display: none;
}

.pac-container {
  width: 260px !important;
  transform: translate(-20px, 10px) !important;
}

.list-wrapper {
  height: calc(100svh - 225px);
  overflow: auto;
}

.pickup-item__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1.4px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #000;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  font-weight: 600;
}

.pickup-item__button:hover {
  opacity: 0.7;
}

.pickup-item .more-content {
  display: none;
}

.pickup-item.active .more-content {
  display: block;
}

.ymaps-2-1-79-search.ymaps-2-1-79-search_layout_normal.ymaps-2-1-79-searchbox__normal-layout {
  display: none;
}
